{% extends "padre.html" %}

{% load static %}



{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesion </title>
</head>
<body>
<p>Inicio de sesion requerido</p>
<form method="POST">
    {% csrf_token %}
    <label for="usuario">
        usuario
        <input type="text" name="username">
    </label>
    <label for="pass">
        contraseña
        <input type="password" name="password">
    </label>
    <button type="submit">Iniciar sesion</button>
</form>
</body>
</html>
{% endblock %}