{% extends "padre.html" %}

{% load static %}

{% block title %}{{ blog.titulo_nuevo }}{% endblock %}

{% block content %}


<h1>{{ blog.titulo }}</h1>
<small>
{% if blog.autor.perfil.imagen %}
    <img src="{{ blog.autor.perfil.imagen.url }}" width="40" height="40" class="rounded-circle">
{% endif %}

    <a href="{% url 'perfil' blog.autor.perfil.id %}">{{ blog.autor.first_name }} {{ blog.autor.last_name }} </a>
    - 
    {{ blog.fecha }} 
    {% if user.is_authenticated %}
        {% if user.id == blog.autor.id %}
            - <a href="{% url 'editar' blog.pk %}">(Editar)</a>
            <a href="{% url 'eliminar' blog.pk %}">(Eliminar)</a></small><br/>
        {% endif %}
    {% endif %}
<hr>
<br/>
{{ blog.cuerpo|safe }}
<br/><br/>
{% if blog.imagen %}
<img src="{{ blog.imagen.url }}">
{% endif %}
<br/><br/>

{% endblock %}