<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'AppBlog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'AppBlog/css/gestion.css' %}" rel="stylesheet">
    <title>
      {% block title %}
      Blog
      {% endblock %}
    </title>
</head>

<body>
   <!--<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">-->

 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-3" id="mainNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog</a>
    <div class="navbar-collapse collapse" id="navbarSupportedContent"></div>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %}">Inicio</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'agregar' %}">Agregar Post</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PERFIL
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'perfil' user.perfil.id %}">Mi Perfil</a>
            <a class="dropdown-item" href="{% url 'editar_perfil' user.perfil.id %}">Editar Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'Editar_Settings'  %}">Configuracion general</a>
            <a class="dropdown-item" href="{% url 'Cambiar_Contraseña'  %}">Cambiar Contraseña</a>
          </div>
        </li>

        <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'logout' %}">Cerrar Sesion</a>
        </li>
        {% else %}

        <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'registro' %}">Registrarse</a>
        </li>
        <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
          <a class="nav-link text-uppercase text-expanded" href="{% url 'login' %}">Iniciar Sesion</a>
        </li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav><!--/.navbar -->


    <!--Contenido que cambia-->
    {% block content %}


    {% endblock %}

    <!-- Footer -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	        <a href="#" class="link">
	          <span class="fa-stack fa-lg">
	            <i class="fa fa-circle fa-stack-2x"></i>
	            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	          </span>
	        </a>
	    </p>
        <p class="m-0 mbt">
        	<a href="sample.html" class="link">Nombre 1</a> ·
        	<a href="sample.html" class="link">Nombre 2 </a> ·
        	<a href="sample.html" class="link">Nombre 3</a>
		</p>
        <p class="m-0 mbt1">&copy; Applicación Blog 2022</p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'AppBlog/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'AppBlog/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>